<div class="blog-wrp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-dtl-rgt">
          <div class="blg-dtl-img">
            <p>
              <strong>ID:</strong>
              <%= @payer.id %>
            </p>
            <p>
              <strong>Payer ID:</strong>
              <%= @payer.payer_id %>
            </p>
            <p>
              <strong>Payer Name:</strong>
              <%= @payer.payer_name %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Edit', edit_payer_path(@payer), class: "btn btn-default btn-blue"%>
    <%= link_to 'Back', payers_path, class: 'btn btn-default'%>
  </div>
</div>
