<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= devise_error_messages! %>
  <% if resource.errors.any? %>
    <div id="error_explanation" align="center">
      <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="inr-midle-wrp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="#"><img src="images/panel-logo.png" alt="" class="img-responsive"></a>
            </div>
            <div class="panel-body">
              <div class="panrl-body-inr">
                <div class="panel-bx-forgot">
                  <h5>Forgot your password?</h5>
                  <p>Enter your email address and we will send you a link to reset your password.</p>
                  <div class="form-group">
                    <div class="frm-grp-inr">
                    <i class="fa fa-envelope"></i>
                    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'%>
                    </div>
                  </div>
                  <div class="submit-btn">
                  <%= f.submit "Send", class: 'btn btn-default btn-block btn-blue' %>
                  </div>
                  <div class="botom-info text-center">
                    <%= link_to 'Back', new_user_session_path %>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
