<%= f.fields_for :address do |address_form| %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div class="frm-grp-inr">
        <%= address_form.select :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] }), { prompt: "Country" }, { class: "address_field", id: "country-picker" } %>
      </div>
    </div>
  </div>
   <div class="col-md-6">
    <div class="form-group">
      <div class="frm-grp-inr">
        <%=  address_form.hidden_field :zip, autofocus: true,  id: "zipcode"  , autocomplete: "zip", class: "form-control", placeholder: "Zip Code"  %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="frm-grp-inr">
         <%= address_form.text_field :street_address, id: 'geo-input', placeholder: 'Street Address', class: "form-control" %>
      </div>
    </div>
  </div>
</div>
<%= address_form.hidden_field :latitude, { id: "latitude" } %>
<%= address_form.hidden_field :longitude, { id: "longitude" } %>
<% end %>
